<footer>
  <div class="footer-brand">
    FreeCAD <span>·</span> IPS
  </div>
  <p style="margin-bottom:6px;">
    Proyecto académico · Ingeniería y Procesos de Software 2026-A
  </p>
  <p>
    <a href="https://github.com/KevinCallo/FREECAD_IPS" target="_blank">
      <i class="fa-brands fa-github"></i> KevinCallo/FREECAD_IPS
    </a>
    &nbsp;·&nbsp;
    <a href="https://KevinCallo.github.io/FREECAD_IPS/" target="_blank">
      <i class="fa-solid fa-globe"></i> GitHub Pages
    </a>
    &nbsp;·&nbsp;
    <a href="https://github.com/users/KevinCallo/projects/4/" target="_blank">
      <i class="fa-solid fa-columns"></i> Projects Board
    </a>
  </p>
</footer>
